@font-face {
    font-family: "kenris";

    src: url("../fonts/kenris.ttf") format("ttf");
}

html{
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
h2 {
    font-family: "kenris";
    font-size: 40px;
    background: linear-gradient(#71DC90, #FFF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
h3{
    font-family: "kenris";
    font-size: 30px;
}
th{
    font-family: "kenris";
    font-size: 18px;
}