
.mo{display: none;}
.pc{display: block;}

@media(max-width:1400px) {
    .commonFrame {
        width: 90%;
        margin: 0 auto;
        height: 100%;
    }

    header ul {
        display: flex;
        gap: 30px;
        align-items: center;


    }
}
@media (max-width:1200px){
    .overlay {
        
        left: 0;
        
    }
    
}
@media (max-width:968px){

    html{
        font-size: 14px;
    }
    .bg {
        background: url('../img/background/smoke-effect-mo.png') no-repeat center center / cover;
        background-attachment: fixed;
    }
    .outerFrame{
        background: url('../img/background/smoke-effect-mo.png') no-repeat center center / cover;
        background-attachment: fixed;
    }
    .hero1 {

        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        z-index: 1; 
        
        
    }
    .hero1txt {
        width: 600px;
        
        margin: 0;
    }
    
    .hero.commonFrame {
        position: relative;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        color: #fff;
        flex-direction: column;
        justify-content: end;
        text-align: center;
        z-index: 1;
        
        
    }
    .station2 img {
        width: 150px;
        height: auto;
        object-fit: contain;
    }
    .station1 img{
        
        width: 100%;
        height: 100%;
        position: absolute !important;
        left: 100px;
        top: 0;
        z-index: -1 !important;
        
    }

    .station2.swiper {
        position: absolute;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100%;
        
        height: 200px;
        flex-direction: column;
        display: flex;
        
        
    }
    .station3{
        width: 50%;
        
        text-align: start;
        margin-top: 50px;
        
        position: absolute;
        left: 20px;
        top: 180px;
        
    }
    .station3 li p{
        overflow: auto;
        height: 250px;

    }
    table {
        width: 90vw;
        background: rgba(0, 0, 0, 0.747);
    
    }
    table th span {

 
        font-size: 14px;
        padding-left: .5rem;
    }

}

@media (max-width:888px) {
    .hero {
        padding-top: 200px;
        justify-content: flex-start;
        align-items: center;
    }
    .headerbg.mo{
        padding: 0 1rem;
    }
    .mo_gnb{
        
        height: 80vh;
    }
   .mo_gnb a{
        display: flex;
        height: 2.5rem;
        padding: 0 1rem;
        align-items: center;
        justify-content: center;
    }
  
    .header_top_mo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }
    .hidden_gnb{
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding: 1rem;
        box-sizing: border-box;
        background-color: var(--dark-color);
        transform: translateX(100%);
        transition: all .4s ease 0s;
        color: #fff;
        z-index: 55;
    }
    .hidden_gnb.on{
        transform: translateX(0);
    }
    .hidden_gnb_top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mo {
        display: block;
    }
    .pc{display: none;}
   

    .image2 {
        left: 50%;

    }

    .image1 {
        left: 50%;
        width: 78%;
        height: 147%;

    }

    .hades2logo {
        margin: 0;
        width: 300px;
    }

    .herotxt {
        margin: 0;

    }

    .herotxt h2 {
        font-size: 25px;
    }

    .herotxt h2:last-of-type {
        font-size: 20px;
    }


}
@media (max-width:500px){
    .bg {
        background: url('../img/background/smoke-effect-mosmal.png') no-repeat center center / cover;
        background-attachment: fixed;
    }
    .outerFrame{
        background: url('../img/background/smoke-effect-mosmal.png') no-repeat center center / cover;
        background-attachment: fixed;
    }
}