::-webkit-scrollbar {
    width: 0.7rem; /* 스크롤바의 너비 */
    height: .7rem; /* 가로 스크롤바의 높이 */
}
::-webkit-scrollbar-track {
    background: #f1f1f1; /* 트랙 배경 색상 */
    border-radius: 10px; /* 트랙 모서리 둥글게 */
}
::-webkit-scrollbar-thumb {
    background: var(--main-color); /* 핸들 색상 */
    border-radius: 10px; /* 핸들 모서리 둥글게 */
}